.main-banner {
  height: 947px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/maze.jpg");
  background-size: cover;
  background-position: center;
}
.since {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

.searchInput {
  margin-top: 20px;
  height: 45px;
  width: 700px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: transparent;
  padding-left: 20px;
}
input::placeholder {
  color: white;
  font-weight: lighter;
}
