.main-banner {
  height: 947px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/maze.jpg");
  background-size: cover;
  background-position: center;
}
.since {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

.search-container {
  position: relative;
  display: inline-block;
}
.searchInput {
  padding-right: 36px;
  height: 40px;
  width: 700px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: transparent;
  padding-left: 20px;
}
input::placeholder {
  color: white;
  font-weight: lighter;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
